body{
    background-color: rgb(197,226,226);
}
.align{
    text-align: center;
}
#form{
    text-align: center;
    background-color: white;
    margin-left: 100;
}
.container{
    min-width: 500px;
    margin: auto;
    background-color:
    rgb(224,224,233);
    
}
